body {
    font-family: Arial, sans-serif;
    margin: 120px;
}

.photo-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.photo-card {
    background-color: #f1f1f1;
    padding: 20px;
    box-shadow: 2px 2px 5px 2px rgb(0, 0, 0);
    border-radius: 5px;
    /* border: 2px solid grey; */
    overflow: hidden;
}

.photo-card img {
    width: 100%;
    height: auto;
}
#i1,#i5,#i8{
    padding-top: 90px;
    justify-content: center;
}
#i2,#i3,#i6,#i7{
    justify-content: center;
    padding-top: 52px;
}
#i9{
    padding-top: 0px;
    justify-content: center;
    width: 83%;
    height: 270px;
}
