body {
    font-family: Arial, sans-serif;
}

.photo-section {
    max-width: 1200px;
    margin: 5rem auto;
    padding: 20px;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 20px;
}

.photo-card {
    background-color: #f1f1f1;
    padding: 20px;
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0,0.2),2px 7px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    overflow: hidden;
}
.photo-card img {
    width: 100%;
    height: auto;
}
#i1,#i5,#i8{
    padding-top: 90px;
    justify-content: center;
}
#i2,#i3,#i6,#i7{
    justify-content: center;
    padding-top: 52px;
}
#i9{
    padding-top: 0px;
    justify-content: center;
    height: 405px;
}
@media (max-width:500px)  {
    .photo-grid{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .photo-card{
        width: 20rem;
    }
    .photo-card img{
        width: 17.5rem;
        height: auto;
    }
    /* #i9{
        width: 18rem;
    } */
}
@media (max-width:340px) {
   .photo-card{
       width: 16rem;
   }
   .photo-card img{
    width: 13.5rem;
   }
    
}
@media (max-width:280px)  {
    .photo-grid{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
    }
    .photo-card{
        width: 13rem;
    }
    .photo-card img{
        width: 10.5rem;
        height: auto;
    }
    /* #i9{
        width: 130px;
    }
} */
