@media (max-width: 460px) {
    .dev-img {
        width: 200px;
        height: 125px;
    }
}

@media (max-width: 1368px) {

    .nav-item a {
        font-size: small;
    }
}
@media (max-width: 1024px) {
    .nss-img {
        height: 80vh;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .nss-img {
        height: 60vh;
        width: 100%;
    }

    .dev-img {
        width: 170px;
        height: 100px;
    }

}

@media (max-width: 425px) {
    .nss-img {
        height: 50vh;
        width: 100%;
    }
}

@media (max-width: 375px) {
    .nss-img {
        height: 40vh;
        width: 100%;
    }
}