.mx-8 {
    margin: 0rem 8rem;
}

.my-7 {
    margin: 7rem 0rem;
}

.mt-8 {
    margin-top: 8rem;
}

.mt-7 {
    margin-top: 7rem;
}

.mt-10 {
    margin-top: 10rem;
}

.display-8 {
    font-size: 1.5rem;
}